* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.sql text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
supabase/types/database.ts whitespace=-blank-at-eof
*.png binary
*.jpg binary
*.webp binary
